# Make sure these match EXACTLY what is in your Dashboard
VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_BUNNY_CDN_HOSTNAME=

# FastPix
VITE_FASTPIX_STREAM_BASE=

# Admin Password
VITE_ADMIN_ASSIGN_PASS=

# Ably
VITE_ABLY_API_KEY=

# REDIS 
VITE_UPSTASH_REDIS_REST_URL=
VITE_UPSTASH_REDIS_REST_TOKEN=

# Custom secrets :
BUNNY_CDN_HOSTNAME=
BUNNY_TOKEN_AUTH_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_SECRET_KEY=
FASTPIX_API_KEY=